[Unit]
Description=openeo startup
After=multi-user.target

[Service]
ExecStart=/home/pi/openeo/portal/portal.py
Type=oneshot

[Install]
WantedBy=multi-user.target
