[Unit]
Description=openeo startup
After=multi-user.target

[Service]
ExecStart=/home/pi/openeo/portal/tools/openeo_portal.bash
Type=oneshot

[Install]
WantedBy=multi-user.target
